h2 {
	font-size: 44px;
	letter-spacing: 2px;
	text-align: center;

	@media screen and (max-width: 768px) {
		font-size: 22px;			
	}
}

.sec3 {

	.content {
		max-width: 850px;
	}

	& > .bg {
		background-position: 50% 100%;
		background-attachment: fixed;
		
		@media screen and (max-width: 992px) {
			background-attachment: scroll;			
		}

		img {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 45%;
		}
	}

	h3 {
		text-align: center;
		font-size: 15px;
		font-family: $p300;
		font-weight: 300;
		letter-spacing: 1px;
	}

	.d-tab {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	.s3-rank-m-tab {
		display: none;
		font-size: 0;
		@media screen and (max-width: 768px) {
			display: block;
		}

		div {
			display: inline-block;
			font-size: 14px;
			width: 50%;
			text-align: center;
			line-height: 40px;
			height: 40px;
			cursor: pointer;
			background-color: rgba(255, 255, 255, .5);
			opacity: .5;

			&.active {
				background-color: rgba(0, 0, 0, .5);
				opacity: 1;
			}
		}
	}

	.s3-title {
		text-align: center;
		background-image: url('../img/main/3-title.png');
		padding: 20px 5px 22px;
		font-size: 20px;
		letter-spacing: 2px;
		margin: 10px auto;

		@media screen and (max-width: 768px) {
			font-size: 15px;
		}
	}

	.s3-rank {
		padding: 14px 20px;
		color: #fff;

		@media screen and (max-width: 768px) {
			padding: 0;
		}
	}

	.s3-rank-list {
		@media screen and (max-width: 768px) {
			display: none;
			padding: 10px 20px;

			&.active {
				display: block;
			}
		}
	}

	.s3-name-item {
		font-family: $p200;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			flex: 0 0 50px;
		}

		b {
			flex: 1 1 100%;
			padding: 5px 7px;
			color: #fff;
			text-shadow: 0 0 0 #fff;
			overflow : hidden;
		  text-overflow : ellipsis;
		  white-space : nowrap;
		}
	}

	.s3-search-bar {
		display: flex;
		padding: 0 10px;
		margin: 30px auto 20px;
		justify-content: space-between;
		
		@media screen and (max-width: 768px) {
			display: block;
			
			.input-group, .select-group {
				margin: 7px 0;
		    margin-right: 0px!important;

		    select {
		    	min-width: calc( 100% - 70px );
		    }

		    input {
		    	line-height: 27px;
		    	height: 27px;
		    }
			}
		}

		.input-group.f1 {
			flex: 1 1 auto;
			width: auto;
			display: flex;
			margin-right: 20px;

			label {
				flex: 0 0 30px;
				width: 30px;
			}

			input {
				flex: 1 1 100%;
				width: 100%;
				padding: 0 10px;
				background-color: rgba(255, 255, 255, .3);
				color: #fff;
			}
		}

		.select-group {
			position: relative;
			margin-right: 10px;
		}

		label {
			font-family: $p200;
			font-weight: 200;
			margin-right: 10px;
		}

		select {
			background-color: rgba(255, 255, 255, .3);
			color: #fff;
			padding: 5px 10px;
			line-height: 1;
			padding-right: 40px;
			border-radius: 0;
		}

		.fake-arrow {
			position: absolute;
			right: 0;
			top: 0;
			width: 25px;
			background-color: rgba(0, 0, 0, .8);
			height: 100%;
			pointer-events: none;

			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				border-style: solid;
				border-width: 5px 4px 0 4px;
				border-color: #fff transparent transparent transparent;
			}
		}
	}

	.player-row {
		margin: 0px auto 7px;
		color: #fff;
		padding: 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $p200;
		font-weight: 200;
		font-size: 14px;

		.im, .s {
			flex: 0 0 40px;
			width: 40px;
			font-size: 15px;
		}

		.server-name {
			flex: 0 0 120px;
			width: 120px;
			text-align: center;
			overflow : hidden;
		  text-overflow : ellipsis;
		  white-space : nowrap;
		}

		.player-account {
			flex: 0 0 120px;
			width: 120px;
			padding: 0 10px;
			text-align: left;
			overflow : hidden;
		  text-overflow : ellipsis;
		  white-space : nowrap;	
		  text-decoration: underline;
		}

		.player-said {
			flex: 1 1 auto;
			width: auto;
			padding: 0 10px;
			text-align: left;
			overflow : hidden;
		  text-overflow : ellipsis;
		  white-space : nowrap;	
		}

		.cf-bg-btn {
			flex: 0 0 130px;
			width: 130px;
			line-height: 25px;
			font-size: 13px;
			letter-spacing: 1px;
			line-height: 25px;
		}

		@media screen and (max-width: 768px) {
			overflow-x: auto;
			justify-content: flex-start;

			.im, .s {
				flex: 0 0 40px;
				width: 40px;
				font-size: 12px;
			}

			.player-account, .server-name {
				width: 80px;
				flex: 0 0 80px;
				text-align: left;
			}

			.player-said {
				flex: 0 0 100px;
				width: 100px;
			}
		}
	}

	.s3-search-result-page-number {
		position: absolute;
		text-align: center;
		color: #fff;
		width: 100%;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 20px;
		font-size: 12px;
		opacity: .8;
		margin: 30px auto;
		letter-spacing: 4px;
	}
}

#pop-up {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 30;

	& > .close {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
	}

	.content {
		position: relative;
		max-width: 650px;
		width: 100%;
		margin: 50px auto 0;
		color: #fff;
		padding: 30px 5%;
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);

		.close {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			text-align: center;
			line-height: 30px;
			height: 30px;
			font-size: 15px;
			cursor: pointer;
		}

		.title {
			margin-bottom: 20px;

			b {
				margin: 0 10px;
			}
		}

		.said {
			background-color: rgba(255, 255, 255, .2);
			padding: 10px;
			font-size: 15px;
			line-height: 1.5;
			margin-bottom: 15px;
		}

		.switch-page {
			margin-top: 15px;
			text-align: center;
			font-size: 0;

			div {
				display: inline-block;
				width: 100px;
				line-height: 25px;
				height: 25px;
				margin: 0 10px;
				font-size: 13px;
			}
		}
	}
}

#server-list.active {
	display: block;
}

#server-list {
	display: none;
	padding: 50px 10px 20px;
	position: fixed;
	max-width: 800px;
	width: 100%;
	right: 0;
	margin: auto;
	top: 5%;
	left: 0;
	width: 100%;
	height: 90vh;
	z-index: 30;
	text-align: center;
	overflow: auto;
	background-color: rgba(0, 0, 0, .7);

	.close {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $main;
		margin: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background-color: #FF5151;
	}

	div {
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
		color: #fff;
		font-size: 15px;
		line-height: 30px;
		margin-top: 0px;
		height: 30px;
		cursor: pointer;
	}

	div:hover {
		background-color: rgba(255, 255, 255, 1);
		color: #000;
	}
}

#s3-server-select-group, #s5-server-select-group {
	* {
		pointer-events: none;
	}
}