.sec4 {

	& > .bg {
		background-position: 50% 100%;
		background-attachment: fixed;
		
		@media screen and (max-width: 992px) {
			background-attachment: scroll;			
		}

		img {
			position: absolute;
			left: -6%;
			bottom: 0;
			width: 42%;
		}
	}

	.s4-box {
		position: relative;
		color: #fff;
		padding: 30px 15px;
		opacity: .4;

		h3 {
			font-size: 20px;
			font-family: $p200;
			font-weight: 200;
			letter-spacing: 1px;
		}
		
		h4 {
			font-size: 28px;
			font-family: $p400;
			font-weight: 400;
			letter-spacing: 1px;
			margin-bottom: 25px;

			span {
				font-size: 20px;
				font-family: $p200;
				font-weight: 200;
				letter-spacing: 1px;		
			}
		}

		h5 {
			font-size: 14px;
			font-family: $p100;
			font-weight: 100;
			margin: 5px auto;

			&:before {
				content: '■';
				color: #FF5151;
				font-size: 12px;
				margin-right: 12px;
			}
		}
	}

	.s4-box.active {
		opacity: 1;

		.active-icon {
			opacity: 1;
		}
	}

	.active-icon {
		text-align: right;		
		margin-top: 30px;
		opacity: 0;

		img {
			width: 70px;
		}

		@media screen and (max-width: 768px) {
			position: absolute;
			right: 5px;
			top: 5px;
			margin: 0;

			img {
				width: 50px;
			}
		}
	}
}

#energy-bar {
	position: relative;
	max-width: 750px;
	margin: 30px auto 0;

	@media screen and (max-width: 768px) {
		margin-top: 15px;
		transform: scale(0.9);
	}

	.bar-main {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 25px;
		z-index: 2;
		border-radius: 25px;
		background-image: linear-gradient(to right, #00B9FF, #00FFCC);

		@media screen and (max-width: 768px) {
			height: 10px;
		}
	}

	.bar-bg {
		width: 100%;
		height: 25px;
		border-radius: 25px;

		@media screen and (max-width: 768px) {
			height: 10px;
		}
	}

	.bar-scale {
		position: relative;
		text-align: center;
		width: 116.66%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 10px;
		margin-bottom: 50px;

		b {
			display: none;
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 0px;

			.mf { font-size: 0 }

			b {
				display: block;
				font-size: 12px;
			}
		}

		span {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				box-shadow: 0px 0px 0px 1px rgba(0, 199, 255, .6),
										0px 0px 0px 1px rgba(80, 227, 194, .6), 
										inset 0px 0px 10px 0px rgba(80, 227, 194, .7),
										0px 0px 15px 0px rgba(0, 199, 255, .6);
				width: 0;
				height: 13px;
				left: 0;
				right: 0;
				margin: auto;
				top: -19px;
			}
		}

		span.step1, span.step2, span.step3 {
			&:after {
				content: '';
				position: absolute;
				box-shadow: 0px 0px 0px 1px rgba(0, 199, 255, .6),
										0px 0px 0px 1px rgba(80, 227, 194, .6), 
										inset 0px 0px 10px 0px rgba(80, 227, 194, .7),
										0px 0px 15px 0px rgba(0, 199, 255, .6);
				width: 0;
				height: 60px;
				left: 0;
				right: 0;
				margin: auto;
				bottom: -69px;

				@media screen and (max-width: 768px) {
					display: none;	
				}
			}
		}

	}
}

.other-sec4 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	img.right {
		left: auto;
		right: -7%;
		width: 61%;
	}

	h4 {
		color: #fff;
		text-align: center;
		letter-spacing: 1px;
		font-size: 17px;
		font-family: $p200;
		font-weight: 200;
		opacity: .85;
		margin-bottom: 30px;
	}

	.s4-line {
		width: 70%;
		margin-bottom: -10px;

		@media screen and (max-width: 992px) {
			display: none;
		}
	}

	.s4-box {
		margin-top: 0;
		padding-bottom: 15px;

		.active-icon {
			img {
				width: 50px;
			}
		}
		
		h4 {
			color: $main;
		}

		h5 {
			font-size: 20px;
		}
	}

	.other-s4-btn {
		color: #fff;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
		width: 310px;
		line-height: 65px;
		margin-top: 30px;
	}
}