.sec6 {

	min-height: 0;

	p {
		color: #fff;
		max-width: 550px;
		margin: 15px auto;
		line-height: 1.7;
		font-family: $p100;
		font-weight: 100;

		b {
			font-family: $p600;
			font-weight: 600;
		}
	}
}