.sec1 {
	
	& > .bg {
		background-image: url('../img/main/1-bg.jpg');

		.m {
			display: none;

			@media screen and (max-width: 768px) {
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate3d(-51%, 30%, 0);
			}
		}
	}

	.s1-video {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		min-width: 100%;
		min-height: 100%;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo {
		position: absolute;
		z-index: 1;
		left: 5%;
		top: 50px;

		img {
			width: 250px;
			vertical-align: middle;
		}

		h2 {
			font-size: 14px;
			font-family: $p100;
			font-weight: 100;
			letter-spacing: 2px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}
	}
}

#header-slider {
	position: absolute;
	text-align: center;
	left: 8%;
	top: calc( 50% - 175px );
	overflow: visible!important;

	@media screen and (max-width: 992px) {
		left: 0;
		right: 0;
		margin: auto;

		img {
			height: 350px;
		}
	}


	@media screen and (max-width: 768px) {
		display: none;
	}

	img {
		height: 350px;
	}
}